@charset "UTF-8";
/*
https://www.youtube.com/playlist?list=PLME0e_1joXdi63XDbl89Ua0pVcIaBeDP6
*/
/*сброс стилей*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  font-style: none;
}

body,
p,
h1,
h2,
h3,
ul {
  margin: 0;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: var(--dark);
}

ul {
  list-style: none;
  padding: 0;
}

/*основные стили*/
h1 {
  font-size: 48px;
  line-height: 120%;
  font-weight: 800;
  margin-bottom: 28px;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 28px;
  }
}

h2 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 40px;
}

:root {
  --box-shadow: 0px 0px 35px 2px #0C28361F;
  --dark: #0C2836;
}

/*навигация*/
.navigation {
  padding-top: 38px;
  margin-bottom: 72px;
}
.navigation .navigation__wrap {
  display: flex;
  justify-content: space-between;
}
.navigation .navigation__wrap .navigation__list {
  display: flex;
  align-items: center;
  text-align: center;
  grid-gap: 39px;
}
.navigation .navigation__wrap .navigation__list .navigation__list-item-link {
  font-weight: medium;
  color: var(--dark);
  text-decoration: none;
}
@media screen and (max-width: 437px) {
  .navigation .navigation__wrap .navigation__list .navigation__list-item-link {
    display: none;
  }
}
.navigation .navigation__wrap .navigation__list .navigation__list-item-link:hover {
  text-decoration: underline;
}
.navigation .navigation__wrap .navigation__list .navigation__list-item-button {
  height: 52px;
  width: 52px;
  padding: 7px;
  transition: transform 100ms;
}
.navigation .navigation__wrap .navigation__list .navigation__list-item-button:active {
  transform: scale(0.95);
}
@media screen and (min-width: 437px) {
  .navigation .navigation__wrap .navigation__list .navigation__list-item-button {
    display: none;
  }
}

/*главный блок*/
.promo {
  margin-bottom: 100px;
}
@media screen and (max-width: 991px) {
  .promo {
    margin-bottom: 0px;
  }
}
.promo p {
  margin-bottom: 262px;
}
@media screen and (max-width: 991px) {
  .promo p {
    margin-bottom: 285px;
  }
}
@media screen and (max-width: 768px) {
  .promo p {
    margin-bottom: 28px;
  }
}
.promo h1 {
  line-height: 120%;
  font-weight: 800;
  margin-bottom: 28px;
}
.promo h1 span {
  color: #FFA239;
}
.promo .promo-bg {
  background: url("../../../public/promo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media screen and (max-width: 991px) {
  .promo .promo-bg {
    height: 670px;
  }
}
@media screen and (max-width: 768px) {
  .promo .promo-bg {
    background: none;
    height: auto;
  }
}
.promo .promo__list li {
  display: flex;
  align-items: baseline;
  gap: 12px;
  margin-bottom: 8px;
}

/*проекты*/
.projects {
  margin-bottom: 100px;
}
.projects .row {
  row-gap: 52px;
}
.projects .projects__card img {
  margin-bottom: 12px;
  width: 100%;
}
.projects .projects__card a {
  color: #FFA239;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  margin-top: 12px;
}
.projects .projects__card a:hover {
  text-decoration: underline;
}
.projects .projects__card p {
  font-size: 16px;
  font-weight: 400;
}

/*проекты конец*/
/*технологии*/
.tech {
  margin-bottom: 100px;
}
.tech .row {
  row-gap: 24px;
}
.tech .tech__card {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  border-radius: 15px;
  background-color: #FFF;
  box-shadow: 0px 0px 35px 2px rgba(12, 40, 54, 0.1215686275);
  padding: 55px 12px 24px 12px;
  height: 100%;
}
@media screen and (max-width: 991px) {
  .tech .tech__card {
    padding-top: 44px;
  }
}
.tech .tech__card p {
  font-size: 18px;
  color: #8a99a8;
  padding-top: 25px;
  vertical-align: bottom;
}

/*технологии конец*/
/*фитбек*/
.feedback {
  margin-bottom: 100px;
}
.feedback .feedback__text {
  text-align: right;
  margin-right: 27px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .feedback .feedback__text {
    text-align: center;
    margin-bottom: 48px;
  }
}
.feedback .feedback__text h2 {
  margin-bottom: 0px;
}
.feedback .feedback__text p {
  font-size: 24px;
  font-weight: 400;
  margin-right: 8px;
}
@media screen and (max-width: 1199px) {
  .feedback .feedback__text p {
    text-align: center;
    margin: 0;
  }
}
.feedback .feetback__form {
  padding: 24px;
  background: #FFF;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}
.feedback .feetback__form .feetback__form-group {
  margin: 16px 0px 16px 0px;
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 767px) {
  .feedback .feetback__form .feetback__form-group {
    display: block;
  }
  .feedback .feetback__form .feetback__form-group input {
    margin-bottom: 10px;
  }
}
.feedback .feetback__form textarea,
.feedback .feetback__form input {
  display: block;
  padding: 8px 12px;
  border: 1px solid #D9E2EB;
  border-radius: 10px;
  overflow: hidden;
  outline: none;
  min-height: 40px;
  width: 100%;
}
.feedback .feetback__form textarea::placeholder,
.feedback .feetback__form input::placeholder {
  color: #8a99a8;
}
@media screen and (max-width: 424px) {
  .feedback .feetback__form textarea,
  .feedback .feetback__form input {
    margin-bottom: 16px;
  }
}
.feedback .feetback__form .button-prime {
  padding: 9px 60px 9px 60px;
  background: linear-gradient(90deg, #FB8501 -0.07%, #FFB703 100%);
  border-radius: 10px;
  border: none;
  transition: box-shadow 300ms, transform 100ms;
}
.feedback .feetback__form .button-prime:focus {
  transform: scale(0.95);
}
.feedback .feetback__form .button-prime:hover {
  box-shadow: 0 0 10px 0 #FFb003;
}

/*фитбек конец*/
/*футер*/
footer {
  margin-bottom: 7px;
}
footer .row {
  row-gap: 24px;
}
footer .footer__group {
  margin-bottom: 74px;
}
footer .footer__group .footer__logo {
  align-items: left;
  vertical-align: middle;
}
@media screen and (max-width: 991px) {
  footer .footer__group .footer__logo {
    margin: 0px auto;
    display: block;
  }
}
footer .footer__group .footer__navigation-list {
  text-align: center;
  vertical-align: middle;
}
@media screen and (max-width: 991px) {
  footer .footer__group .footer__navigation-list {
    text-align: center;
  }
}
footer .footer__group .footer__navigation-list .footer__navigation-list-link {
  font-size: 24px;
  font-weight: 400;
  color: var(--dark);
  text-decoration: none;
}
footer .footer__group .footer__navigation-list .footer__navigation-list-link:hover {
  text-decoration: underline;
}
footer .footer__group .footer__address {
  text-align: right;
  padding: 8px;
}
@media screen and (max-width: 991px) {
  footer .footer__group .footer__address {
    text-align: center;
  }
}
footer .footer__cop {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: var(--dark);
}

/*футер конец*/
.futures .futures__list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 21px;
}
.futures .futures__list li {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  text-align: right;
}
.futures .futures__front {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  padding: 40px;
  gap: 25px;
  height: 100%;
}
.futures .futures__front img {
  width: 75px;
}
.futures .futures__front p {
  font-size: 18px;
}/*# sourceMappingURL=style.css.map */